$breaking-point-1: 1250px;
$breaking-point-2: 1000px;
$breaking-point-3: 750px;
$breaking-point-4: 500px;

body {
  background: white;
  font-size: 24px;
  font-family: "Akzidenz Grotesk Pro", "Akzidenz-Grotesk Pro", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  @media (max-width: $breaking-point-2) {
    font-size: 20px;
  }
  // @media (max-width: $breaking-point-3) {
  //   font-size: 24px;
  // }
  // @media (max-width: $breaking-point-4) {
  //   font-size: 20px;
  // }
}
#size-reference {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -9999;
}

.flex-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-container.reverse {
  flex-direction: row-reverse;
}
section, article {
  p, blockquote, img {
    display: block;
    margin: 1em 0;
  }
}
a {
  text-decoration: none;
}
div, main, section, h1, h2, h3, h4, h5, h6, p, blockquote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1,h2,h3 {
  font-weight: 300;
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.3em;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  nav.flex-container {
  -webkit-box-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
    .flex-item {
      flex-grow: 1;
    width: 50%;
    }
    a.current {

    }
    a.float {
      display: block;
      float: left;
      padding: 35px;
      color: black;
      @media (max-width: $breaking-point-3) {
        padding: 20px;
      }
      img, .text {
        display: inline-block;
        vertical-align: middle;
        @media (max-width: $breaking-point-3) {
          display: block;
          text-align: center;
          margin: 0 auto;
        }
      }
      .text {
        margin-left: 25px;
        line-height: 1;
        @media (max-width: $breaking-point-3) {
          margin-left: 0;
          margin-top: 15px;
        }
        h1 {
          margin-bottom: 5px;
          font-size: 1.6em;
          margin-top: 0;
        }
        @media (max-width: $breaking-point-3) {
          font-size: .9em;
        }
        @media (max-width: $breaking-point-4) {
          font-size: .75em;
        }
      }
    }
    .design {
      a.float {
        float: right;
      }
    }
    img {
      height: 100px;
      @media (max-width: $breaking-point-3) {
        height: 60px;
      }
    }
  }
}
.loader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 45vh;
  z-index: 250;
  text-align: center;
  h1 {
    font-size: 3em;
  }
  span {
    font-size: 1.5em;
    margin-top: 20px;
  }
}
.wrapper {
  color: black;
  max-width: 1920px;
  margin: 0 auto;
}
main {
  height: 100vh;
  overflow: hidden;
  .image {
    background-position: center;
    background-size: cover;
  }
  .image.right {
    background-position: left center;
    @media (max-width: $breaking-point-3) {
      background-position: center;
    }
  }
  .image.left {
      background-position: right center;
      @media (max-width: $breaking-point-3) {
        background-position: center;
      }
  }
  section {
    overflow: hidden;
    .inner {
      overflow: hidden;
    }
    .flex-container.center-x {
      justify-content: center;
      text-align: center;
    }
    .flex-container.center-y {
      align-items: center;
    }
    .content {
      width: 100%;
    }
    .content.size-100 {
      width: 100%;
    }
    .content.size-75 {
      width: 75%;
    }
    .content.size-60 {
      width: 60%;
    }
    .content.size-50 {
      width: 50%;
    }
    .content.size-40 {
      width: 40%;
      @media (max-width: $breaking-point-1) {
        width: 60% !important;
      }
      @media (max-width: $breaking-point-2) {
        width: 60% !important;
      }
      @media (max-width: $breaking-point-3) {
        width: 75% !important;
      }
      @media (max-width: $breaking-point-4) {
        width: 100% !important;
      }
    }
    .content.size-25 {
      width: 25%;
    }
    .content {
      padding: 1em 1.5em;
    }
  }
  section.image {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    @media (max-width: $breaking-point-2) {
      height: auto;
      min-height: 50vh;
      padding: 0;
      padding-bottom: 70%;
    }
    .flex-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @media (max-width: $breaking-point-3) {
        position: static;
        height: auto;
      }
    }
  }
  section.active {

  }
  #hero {
    height: 180vh;
    position: relative;
    width: 100%;
    .inner {
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      position: fixed;
      z-index: 200;
      padding-top: 150px;
      #video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(.5);
                transform: translateX(-50%) translateY(-50%) scale(.5);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
      }
    }
  }
  #hero.absolute {
    .inner {
      position: absolute;
      bottom: 0;
      top: auto;
    }
  }
  #parts {

  }
  #scroll {

  }
}
.fade {
  opacity: 0;
}
.fade-in {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
